extends layout 

block content 
  html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sign-In-Page
  
  body#sign-in-body

    h3#sign-in-title Sign in with your username and password

    if errors
      each error in errors
        p(style="color:red") #{error.msg}


    form(method="POST", action="/signIn")#main-sign-in-form

      #form-group-email.form-group
        label(for="username")#username-sign-in Username
        input#email.form-control.lg(name="username", type="text")
    
    
      #form-group-password.form-group
        label(for="password")#sign-in-password Password
        input#password.form-control.lg(name="password", type="password")
    
    
      #form-group-submit.form-group
        input.btn.btn-primary.input-control(type="submit", value="Login")#sign-in-button