#home-body {
  background-color: #272d47;
  padding: 2rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
#welcome-para1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#welcome-para2 {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#welcome-para3 {
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#first-para {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#developer-para1 {
  font-size: 1.5rem;
  font-weight: 390;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#developer-para2 {
  font-size: 1.5rem;
  font-weight: 390;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-title {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}
#welcome-div {
  background-color: #15242b;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5rem;
}
.col-sm-6 {
  margin-top: 4rem;
}
#main-title {
  font-size: 3.3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  background-color: #15242b;
}

#sign-up-button {
  background-color: #bfcad6;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 4.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}
#sign-in-button {
  background-color: #bfcad6;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 4.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}
#git-button {
  background-color: #edf5f7;
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 100%;
}
#sign-up-body {
  background-color: #272d47;
  padding: 2rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
#sign-up-title {
  color: #f0f4fa;
  font-size: 3rem;
  font-weight: 550;
  text-align: center;
  margin-top: 2rem;
}
#sign-up-form-group {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 40px;
}
#first-name-id {
  color: #f0f4fa;
  font-size:1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}
#email-id-sign-up {
  color: #f0f4fa;
  font-size:1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}
#username-id-sign-up {
  color: #f0f4fa;
  font-size:1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}
#password-sign-up {
  color: #f0f4fa;
  font-size:1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

#signup-submit-button{
  background-color: #bfcad6;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 4.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  width: 100%;
}

#passconfirm-sign-up {
  color: #f0f4fa;
  font-size:1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
}

#sign-in-body {
  background-color: #272d47;
  padding: 2rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
}

#username-sign-in {
  color: #f0f4fa;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 40px;
}

#sign-in-password {
  color : #f0f4fa;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 40px;
}

#sign-in-title {
  color: #f0f4fa;
  font-size: 3rem;
  font-weight: 550;
  text-align: center;
  margin-top: 2rem;
}





.styleEachBlog {
  padding: 10px;
}
